<h1>
  <span>Projects</span>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-primary pull-right' %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td class="pull-right">
          <%= link_to raw('<i title="" data-toggle="tooltip" data-placement="top" class="glyphicon glyphicon-pencil" data-original-title="Edit"></i>'), edit_project_path(project), id: "rat-edit-project-#{project.id}", class: 'text-warning' %>
          <%= link_to raw('<i title="" data-toggle="tooltip" data-placement="top" class="glyphicon glyphicon-trash" data-original-title="Delete"></i>'), project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
